/*
 * Tutorial source:
 *https://blog.lunarlogic.io/2018/slidedown-menu-in-react/
 */

*, *:before, *:after {
  box-sizing: border-box;
}

nav {
  display: inline-block;
  margin: 2rem auto 0;
  background: #0d2035;
  color: #fff;
  text-align: middle;
  width: 100%;
}

a {
    text-decoration: none;
    display: block;
    padding: 0 16px;
    line-height: inherit;
    cursor: pointer;
}

a:visited {
  text-decoration: none;
  color: white;
}

.nav-menu {
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;

  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-menu-item {
  display: block;
  flex: 0 1 auto;
  position: relative;
  padding: 16px;
}

.nav-menu-item:hover {
  background-color: #00aeef;
  display: inline-block;
}
